<div class="container">
  <div class="row mt-50">
    <div class="col-md-12">
      
      <!-- Form -->
      <form [formGroup]="cadastroForm" (submit)="adicionar()">
        
        <!-- Name -->
        <div class="form-group">
          <label for="nome">Name</label>
          <input name="nome" formControlName="nome" type="text" class="form-control">
        </div>

        <!-- E-mail -->
        <div class="form-group">
          <label for="email">E-mail</label>
          <input name="email" formControlName="email" type="email" class="form-control">
        </div>

        <button class="btn btn-primary">Adicionar</button>

      </form>

      <br>

      <table class="table table-hover">
        <thead>
          <tr>
            <th>NOME</th>
            <th>EMAIL</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pessoa of pessoas" (click)="editarPessoa(pessoa)">
            <td>{{ pessoa?.nome }}</td>
            <td>{{ pessoa?.email }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

